@model List<Product>
<p>
    <a asp-action="Create">Create New</a>
</p>
<h2>Product list</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
@*                 <td><a asp-action="Product/ProductReviews.cshtml" asp-route-id="@item.Id">Review List</a></td>
 *@
                <td>
                    <img src="~/images/@item.ImageLocalPath" alt="Product Image" style="width:150px;" />
                    </td>
            </tr>
        }
    </tbody>
</table>